:root {
  --accent-color: royalblue;
}
body {
  font-family: sans-serif;
}
body > form,
body > div {
  width: max-content;
  margin: 50px auto;
  border: var(--accent-color) 2px solid;
}
form > * {
  display: block;
  margin: 20px;
}
button {
  cursor: pointer;
  background: var(--accent-color);
  color: white;
  border: none;
  padding: 10px;
  margin: 20px auto;
}
form button {
  display: block;
}
button:hover {
  opacity: 80%;
}
label {
  text-align: right;
}
input {
  float: right;
  margin-left: 10px;
  font-size: 1rem;
}
@media (prefers-color-scheme: dark) {
  body,
  input {
    background: #222;
  }
}
#msg {
  padding: 5px;
}
.msg-fail {
  border: 2px solid red;
}
.msg-success {
  border: 2px solid green;
}
